html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: space-between;
    background: black;
}
#left-bar,
#right-bar {
    padding: 10px;
    vertical-align: top;
    background: grey;
    height: 100%;
    flex-basis: 10%;
    flex-grow: 0;
}
#atom {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: relative;
    background-image: url('img/chaos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#atom-orbit {
    background: black;
}
#inner-orbit {
    background: dimgrey;
}
#middle-orbit {
    background: grey;
}
#outer-orbit {
    background: lightgrey;
}
#atom-orbit {
    width: 65%;
    height: 65%;
    top: 17.5%;
    left: 17.5%;
}
#inner-orbit {
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
}
#middle-orbit {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
#outer-orbit {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.orbit {
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 4px 6px;
}
#atom-container {
    vertical-align: top;
    width: 100vh;
    height: 100vh;
    background: black;
}
.electron {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    vertical-align: middle;
}
.electron-location {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.electron-loc1 {
    margin-top: -20%;
    animation: rot 2s infinite linear;
}
.electron-loc2 {
    margin-top: -30%;
    animation: rot 4s infinite linear;
}
.electron-loc3 {
    margin-top: -35%;
    animation: rot 8s infinite linear;
}
#electron11 {
    animation-delay: 0s;
}
#electron12 {
    animation-delay: -1s;
}
#electron21 {
    animation-delay: 0s;
}
#electron22 {
    animation-delay: -0.5s;
}
#electron31 {
    animation-delay: 0s;
}
#electron32 {
    animation-delay: 1s;
}

@keyframes rot {
    from {
        transform:  rotate(0deg)
                    translate(42%)
                    rotate(0deg);
    }
    to {
        transform:  rotate(360deg)
                    translate(42%)
                    rotate(-360deg);
    }
}
@media(orientation: portrait) {
    body{
        flex-direction: column;
    }
    #atom-container{
        width: 100vw;
        height: 100vw;
    }
    #left-bar,
    #right-bar {
        width: 100%;
    }
}
